.first-div{
    background-color: green;
    position: static;
    top: 10px;
}

.second-div{
    background-color: greenyellow;
    position: relative;
    top: 5px;
    left: 50px;

}

.third-div{
    background-color: red;
    position: absolute;
    top: 4px;
}

.fourth-div{
    background-color: royalblue;
    position: fixed;
    top: 10px;
    
    
}

.fifth-div{
   background-color: salmon;
   position: sticky;
   top: 10px;
    
}